/examples
/scrapbook.txt
/.antlr
.vscode/bookmarks.json
node_modules
/grammar/.antlr/
/tests
scrap-file.txt
parser/mxsParser.ts
parser/mxsParser.tokens
parser/mxsParser.interp
parser/mxsLexer.ts
parser/mxsLexer.tokens
parser/mxsLexer.interp
parser/mxsParserVisitor.ts
parser/mxsParserListener.ts
test/samples/input.ms
test/input.ms
